# Expo artifacts
node_modules
node_modules/**
.expo
.expo-shared

# Android build caches
android/.gradle
android/.cxx
android/.idea
android/app/build
android/app/build/**
android/build
android/build/**
android/**/build
android/**/build/**
**/build/**

# Logs / temporary
**/*.log
**/dist
.coverage
*.lock

# Misc
*.keystore
